<div class="big-card-container">
    <div class="big-card-photo">
        <img src="https://s3.eu-west-1.amazonaws.com/redsys-prod/articles/679210935de42a1be6065252/images/abbildung0.png" alt="" height="200px">
    </div>
    <div class="big-card-title">
        <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card-description">
        <p>
            <a href="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum sint atque animi quaerat. Ab odit placeat velit sit officiis nobis deleniti numquam suscipit nisi. Fugiat, laborum blanditiis. Quam aliquam temporibus, sed dolorum distinctio delectus assumenda consequuntur ipsam dicta debitis velit vero expedita dolorem ipsa magnam perferendis! Hic, officiis labore.
            </a>
        </p>
    </div>
</div>