<div class="small-card-container">
    <div class="small-card-content-container">
        <div class="small-card-photo">
            <img src="https://s2-oglobo.glbimg.com/7C09SBaCzJlO1AeEd1cepmLcJQQ=/0x0:2048x1362/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_da025474c0c44edd99332dddb09cabe8/internal_photos/bs/2023/O/D/mBxHKAQAqCPckuC2uTqQ/gatlhytxaaaetdj.jpeg" alt="">
        </div>
        <div class="small-card-title">
            <h1><a href="">Lorem ipsum dolor sit.</a></h1>
        </div>
    </div>
    <div class="small-card-separator"><hr></div>
</div>