<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles-container">
    <div class="articles-main">
        <app-big-card photoCover="https://angular.io/assets/images/logos/angular/angular.svg" cardTitle="Saiu a nova versão do Angular" cardDescription="Nesta sexta-feira (09), a Google acaba de soltar a nova versão do FrameWork Angular"></app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card photoCover="https://s2.glbimg.com/iG2_0IKKmgSOqkC7DF153-dfRWY=/540x304/top/smart/https://i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2023/U/L/NzfxD1QGyUg2ShCABuUw/lucas.jpg" cardTitle="Lucas entra na mira de quatro clubes, mas São Paulo mantém otimismo por renovação"></app-small-card>
        <app-small-card photoCover="https://s2.glbimg.com/IuU9DcM-pDLBwVCi5O8nN9ZfD80=/540x304/top/smart/https://i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2023/A/l/DP2GCvSy2xEOa3lM040w/f2n-ticwaaaovqv.jpg" cardTitle="São Paulo recebe proposta de quase R$ 100 milhões do Zenit por Beraldo"></app-small-card>
        <app-small-card photoCover="https://s2.glbimg.com/xhQqK9P-tB_rWPd-4fNjPG7_U-U=/540x304/top/smart/https://i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2023/a/y/VYF8uORj2VWGDdvsZItw/rib3425.jpg" cardTitle="Expectativa x realidade: como os primeiros meses de James no São Paulo deixam dúvida sobre futuro"></app-small-card>
    </div>
</div>